<a href="https://colab.research.google.com/github/Pythonyatra/Kaggle-PFS/blob/master/PredictFutureSales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[Kaggle PredictFuture Sales](https://www.kaggle.com/c/competitive-data-science-predict-future-sales)

In [ ]:
# def upload_kaggle_jason():
  
#   from google.colab import files
#   files.upload()

#   print('kaggle.json uploaded.')

In [ ]:
#upload_kaggle_jason()

Saving kaggle.json to kaggle.json
kaggle.json uploaded.

In [ ]:
# def download_data():

#   !pip install kaggle
#   !mkdir ~/.kaggle
#   !cp kaggle.json ~/.kaggle
#   !chmod 600 ~/.kaggle/kaggle.json
#   !kaggle competitions download -c competitive-data-science-predict-future-sales
#   !mkdir datasets
#   !mv *.zip ./datasets/
#   !ls ./datasets
#   !unzip datasets/item_categories.csv.zip
#   !unzip datasets/sales_train.csv.zip
#   !unzip datasets/shops.csv.zip
#   !unzip datasets/test.csv.zip
#   !unzip datasets/sales_train.csv.zip
#   !unzip datasets/sample_submission.csv.zip
#   !unzip datasets/items.csv.zip
#   !mv *.csv ./datasets/
#   %cd datasets
#   !rm *.zip
  

#   print('Required data can be found under datasets folder')

In [ ]:
#download_data()

In [6]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
%matplotlib inline

In [17]:
DATA_FOLDER = '../datasets'

transactions = pd.read_csv(os.path.join(DATA_FOLDER, 'sales_train.csv'))
items           = pd.read_csv(os.path.join(DATA_FOLDER, 'items.csv'))
item_categories = pd.read_csv(os.path.join(DATA_FOLDER, 'item_categories.csv'))
shops           = pd.read_csv(os.path.join(DATA_FOLDER, 'shops.csv'))

In [8]:
transactions.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [18]:
items.head()

                                           item_name  item_id  item_category_id
0          ! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.)         D        0                40
1  !ABBYY FineReader 12 Professional Edition Full...        1                76
2      ***В ЛУЧАХ СЛАВЫ   (UNV)                    D        2                40
3    ***ГОЛУБАЯ ВОЛНА  (Univ)                      D        3                40
4        ***КОРОБКА (СТЕКЛО)                       D        4                40

In [19]:
item_categories.head()

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4

In [20]:
shops.head()

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4